{{ define "main" }}
<img src="/img/front_page_image.webp" style="width: 100%;">
<div class="content">
    <div class="blankcol">&nbsp;</div>
    <div class="centrecol">

        <h1>Weekly News/Features Wrap (Title/Abstract Translations)</h1>

        <a href="/categories/chinese/" class="frontpageheadinglink"><div class="frontpageheading">From Greater China</div></a>

        <div class="frontpagerow">
          <div class="frontpagenewsitem">
            <a href="/blog/2019/american-arms-sales-may-endanger-taiwan/" class="frontpagenewslink">
              <div class="frontpagenewsitemtitle">Editorial: If American arms sales go too far they will endanger...</div>
              <div class="frontpagenewsitemcontent">社评：美对台军售，走过头就是台湾之危 Global Times July 9, 2019 http://baijiahao.baidu.com/s?id=1638561132431613159&...</div>
            </a>
          </div>
          <div class="frontpagenewsitem">
            <a href="/blog/2019/30000-tons-is-enough/" class="frontpagenewslink">
              <div class="frontpagenewsitemtitle">075 Type’s 30,000 tons is enough, because China has two...</div>
              <div class="frontpagenewsitemcontent">075三万吨足够了 因为中国有2艘“落后”航母 Fenghuang Jul 8, 2019 https://mil.ifeng.com/c/7o8UAju0Ggq Fenghuang-...</div>
            </a>
          </div>
          <div class="frontpagenewsitem">
            <a href="/blog/2019/north-korea-wont-abandon-nukes/" class="frontpagenewslink">
              <div class="frontpagenewsitemtitle">A Nuclear Umbrella won't make North Korea Abandon Nuclear...</div>
              <div class="frontpagenewsitemcontent">中国向朝鲜提供核保护劝其弃核不现实 Global Times (Huanqiu) Nov 13, 2013 http://mil.huanqiu.com/paper/2013-11...</div>
            </a>
          </div>
        </div>

        <a href="/categories/korean/" class="frontpageheadinglink"><div class="frontpageheading">From the Korean Peninsula</div></a>

        <div class="frontpagerow">
          <div class="frontpagenewsitem">
            <a href="blog/2019/moon-warns-japan-when-korean-companies-harmed/" class="frontpagenewslink">
              <div class="frontpagenewsitemtitle">President Moon warns Japan: ‘A necessary response when Korea...</div>
              <div class="frontpagenewsitemcontent">문 대통령 “한국기업 피해 땐 필요한 대응” 일본에 경고 Hani.co.kr, July 8, 2019 http://www.hani.co.kr/arti/politics/bluehouse...</div>
            </a>
          </div>
          <div class="frontpagenewsitem">
            <a href="/blog/2019/north-korea-preparing-for-global-economy/" class="frontpagenewslink">
              <div class="frontpagenewsitemtitle">North Korea, which is calling for self-rejuvination, is...</div>
              <div class="frontpagenewsitemcontent">자력갱생 외치는 북한, 글로벌경제 대비 Yonhap News TV June 8, 2019 http://www.yonhapnewstv.co.kr...</div>
            </a>
          </div>
          <div class="frontpagenewsitem">
            <a href="/blog/2019/pyongyang-anti-china-sentiment-spreading/" class="frontpagenewslink">
              <div class="frontpagenewsitemtitle">Anti-China sentiments are spreading in Pyongyang</div>
              <div class="frontpagenewsitemcontent">평양시민들 사이에 반중 분위기 확산 RFA, Aug. 22, 2018 https://www.rfa.org/korean/in_focus/nk_nuclear_talks...</div>
            </a>
          </div>
        </div>

        <a href="/categories/japan/" class="frontpageheadinglink"><div class="frontpageheading">From Japan</div></a>

        <div class="frontpagerow">
          <div class="frontpagenewsitem">
            <a href="/blog/2019/us-japan-security-treaty-an-old-argument/" class="frontpagenewslink">
              <div class="frontpagenewsitemtitle">‘The security treaty between the United States and Japan is...</div>
              <div class="frontpagenewsitemcontent">「日米安保は不公平」は、今に始まった議論ではない Asabi Shimbun Globe July 7, 2019 https://globe.asahi.com/article...</div>
            </a>
          </div>
          <div class="frontpagenewsitem">
            <a href="/blog/2019/the-sdf-and-national-security-of-a-changing-japan/" class="frontpagenewslink">
              <div class="frontpagenewsitemtitle">From the Heisei to the Reiwa era - the Self Defence Force and...</div>
              <div class="frontpagenewsitemcontent">平成から令和へ。変わる日本の自衛隊と安全保障 Asahi May 22, 2019 https://webronza.asahi.com/politics/articles...</div>
            </a>
          </div>
          <div class="frontpagenewsitem">
            <a href="/blog/2019/abe-administration-achievements-called-into-question/" class="frontpagenewslink">
              <div class="frontpagenewsitemtitle">The Abe administration's diplomatic...</div>
              <div class="frontpagenewsitemcontent">北方領土、拉致解決進まず＝日中改善も公船侵入続く－問われる安倍政権【19参院選】Jiji, July 2, 2019 https://www.jiji.com...</div>
            </a>
          </div>
        </div>

        <a href="/categories/special/" class="frontpageheadinglink"><div class="frontpageheading">Special Features</div></a>

        <div class="frontpagerow">
          <div class="frontpagenewsitem">
            <a href="/blog/2019/north-korea-wont-abandon-nukes/" class="frontpagenewslink">
              <div class="frontpagenewsitemtitle">A Nuclear Umbrella won't make North Korea Abandon Nuclear...</div>
              <div class="frontpagenewsitemcontent">中国向朝鲜提供核保护劝其弃核不现实 Global Times (Huanqiu) Nov 13, 2013 http://mil.huanqiu.com/paper/2013-11...</div>
            </a>
          </div>
          <div class="frontpagenewsitem">
            <a href="/blog/2019/the-sdf-and-national-security-of-a-changing-japan/" class="frontpagenewslink">
              <div class="frontpagenewsitemtitle">From the Heisei to the Reiwa era - the Self Defence Force and...</div>
              <div class="frontpagenewsitemcontent">平成から令和へ。変わる日本の自衛隊と安全保障 Asahi May 22, 2019 https://webronza.asahi.com/politics/articles...</div>
            </a>
          </div>
        </div>

        <a href="/categories/scholar/" class="frontpageheadinglink"><div class="frontpageheading">Scholarly / Analyses</div></a>

        <div class="frontpagerow">
          <div class="frontpagenewsitem">
            <a href="/blog/2019/korean-war-china-strategic-decisions/" class="frontpagenewslink">
              <div class="frontpagenewsitemtitle">The Korean War and China’s Strategic...</div>
              <div class="frontpagenewsitemcontent"> 朝顯戰爭與中國的決策 Shen Zhihua 沈志華 Notes from Shen Zhihua’s presentation, delivered at the Yonsei Institute...</div>
            </a>
          </div>
          <div class="frontpagenewsitem">
            <a href="/blog/2019/american-arms-sales-may-endanger-taiwan/" class="frontpagenewslink">
              <div class="frontpagenewsitemtitle">Editorial: If American arms sales go too far they will endanger...</div>
              <div class="frontpagenewsitemcontent">社评：美对台军售，走过头就是台湾之危 Global Times July 9, 2019 http://baijiahao.baidu.com/s?id=1638561132431613159&...</div>
            </a>
          </div>
        </div>

    </div>
    <div class="blankcol">&nbsp;</div>
</div>
{{ end }}