body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding-bottom: 20px;
}

.headertop {
    background-color: rgb(42, 83, 193);
    color: white;
    display: flex;
    font-family: sans-serif;
    line-height: 32px;
    font-weight: bold;
}

.headeritem {
    padding: 15px 40px;
    text-decoration: none;
}

.headeritem:visited {
    color: white;
  }

.headeritem:hover {
    color: gray;
    text-decoration: underline;
}

.headermiddle {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.headercol {
    flex-direction: column;
}

.capitaln {
    color: rgb(14, 28, 64);
    font-family: sans-serif;
    font-size: 160px;
    font-weight: bold;
    letter-spacing: -8px;
}

.easair {
    color: rgb(14, 28, 64);
    font-family: sans-serif;
    font-size: 111px;
    font-weight: 500;
    letter-spacing: -8px;
}

.headertitle {
    font-family: sans-serif;
    font-size: 34px;
    line-height: 1.1em;
}

.headermiddletext {
    font-family: sans-serif;
    font-size: 34px;
    line-height: 1.1em;
}

.headermiddledivider {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: rgb(0, 46, 93);
    margin-left: 28px;
}

.headerbottom {
    background-color: white;
    color: rgb(42, 83, 193);
}

main {
    background-color: white;
    flex: 1;
    vertical-align: middle;
}

.content {
    display: flex;
    flex-direction: row;
}

.blankcol {
    flex: 1;
    background-color: white;
}

.centrecol {
    flex: 0;
    flex-basis: 1024px;
    background-color: white;
}

footer {
    background-color: rgb(23, 42, 71);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.footercontent {
    display: flex;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 48px;
    text-align: left;
}

.footeritem {
    padding: 15px;
}